<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.hfut.bbs"
    android:versionCode="1"
    android:versionName="1.3" android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait" >
        
        <activity
            android:name="client.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="client.Login_Activity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name="client.Forum_Activity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name="client.ViewThreads_Activity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity 
            android:name="client.Thread_Activity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
		</activity>
		<activity 
            android:name="client.Fatie_Activity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
		</activity>
		<activity 
		    android:name="client.Reply_Activity"
		    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
		</activity>
    </application>

</manifest>
